<div ng-app="TabsApp">
    <div id="tabs" ng-controller="homeControl">
        <ul>
            <li ng-repeat="tab in tabs"
                ng-class="{active:isActiveTab(tab.url)}"
                ng-click="onClickTab(tab)">{{tab.title}}</li>
        </ul>
        <div id="mainView">
            <div ng-include="currentTab"></div>
        </div>
    </div>
    <script type="text/ng-template" id="one.tpl.html">
        <div id="viewOne">
            <!--<div id="container-control" style="padding: 10px;">-->
                <!--<div id="dvLoading" ng-show="isInProgress">
                    <h2 style="color: #428bca">Loading...</h2>
                </div>-->
                <!--<div > ng-if="isInProgress==false"-->
                    <div class="panel panel-primary" style="height: 100%; width:100%;">
                        <div class="panel-body">
                            <!--<div class="row">

                                <div class="col-sm-2">
                                    <p class="input-group pull-left">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i>From</span>
                                        <input class="form-control" b-datepicker="{{dateOptions}}" ng-model="fromDate">
                                    </p>

                                </div>
                                <div class="col-sm-2">
                                    <p class="input-group pull-left">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i>To</span>
                                        <input class="form-control" b-datepicker="{{dateOptions}}" ng-model="toDate">
                                    </p>
                                </div>
                                <div class="col-sm-2">
                                    <p class="input-group pull-left">
                                        <span class="input-group-addon">Status</span>
                                        <select class="form-control" ng-model="status">
                                            <option value="All">All</option>
                                            <option value="Success">Success</option>
                                            <option value="Failed">Failed</option>
                                            <option value="In Progress">In Progress</option>
                                        </select>
                                    </p>
                                </div>

                            </div>-->
                            <table st-table="content.value" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th st-sort="buildNumber">Build Number</th>
                                        <th st-sort="status">Status</th>
                                        <th st-sort="startTime">Start time</th>
                                        <th st-sort="finishtime">Finished time</th>
                                        <th>Requested By</th>
                                        <th>Log</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in content.value">
                                        <td>{{row.buildNumber}}</td>
                                        <td>{{row.status}}</td>
                                        <td>{{formatDate(row.startTime)}}</td>
                                        <td>{{formatDate(row.finishTime)}}</td>
                                        <td>{{row.requests[0].requestedFor.displayName}}</td>
                                        <td><a class="btn btn-primary" ng-href="{{row.log.downloadUrl}}">Download</a></td>
                                    </tr>
                                </tbody>
                            </table>

                            <div ui-chart="someData" chart-options="myChartOpts"></div>

                        </div>
                    </div>
                <!--</div>-->
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="two.tpl.html">
        <div id="viewTwo">
            <div class="panel panel-primary" style="height: 100%; width:100%;">
                <div class="panel-body">
                    <table st-table="healthcheck.results" class="table table-striped">
                        <thead>
                            <tr>
                                <th st-sort="ApplicationName">Application Name</th>
                                <th st-sort="Attribute">Attribute</th>
                                <th st-sort="Health">Health</th>
                                <th st-sort="Uri">Uri</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in healthcheck.results">
                                <td>{{row.ApplicationName}}</td>
                                <td>{{row.Attribute}}</td>
                                <td>{{row.Health}}</td>
                                <td>{{row.Uri}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="three.tpl.html">
        <div id="viewThree">
            <div class="panel panel-primary" style="height: 100%; width:100%;">
                <div class="panel-body">
                    <b>Latest Test Results: </b><br/>
                    {{perfMetrics}}
                </div>
            </div>
        </div>
</script>

    <script type="text/ng-template" id="four.tpl.html">
        <div id="viewFour">
            <div class="panel panel-primary" style="height: 100%; width:100%;">
                <div class="panel-body">
                    <b>Start Time : </b>{{appSummary.StartDateTime}}<br/>
                    <b>End Time   : </b>{{appSummary.EndDateTime}}<br/>
                    <table st-table="appSummary.ThresholdValues" class="table table-striped">
                        <thead>
                            <tr>
                                <th st-sort="Name">Metric Name</th>
                                <th st-sort="metric_value">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in appSummary.ThresholdValues">
                                <td>{{row.Name}}</td>
                                <td>{{row.metric_value}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </script>
</div>